%h2 All Invitations

%table.all_invites
  %tr
    %th Name
    %th Email
    %th Status
    %th Add To Family

  - @invitations.each do |recipient|
    %tr
      %td= recipient.name + ' '
      %td= recipient.email + ' '
      %td= recipient.status.capitalize + ' '
